body{
    background-color: #F2E8CF;
    color: dimgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-bar{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background-color:  #A7C957 ;
    padding: 10px 20px;
    
}

.menu{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s ease; /
}

.menu ul li a:hover{
    color: #484848;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

.menu ul li{
    display: inline-block;
    margin: 0 10px;
    text-align: right;
    font-family:'Times New Roman', Times, serif
    align-items center;

}

.menu ul li a{
    text-decoration: none;
    color:#6A994E;
    width: 90%;
    margin-left: 10px;
}

.separador{
    color: #6A994E;
    font-weight: bold;
    font-size: 18px;
}

.container{
    width: 80%;
    margin: auto;
}

.fundo{
    background-color:  #CFDF8C;
    color: rgb(255, 255, 255);
    height: 100%;
    padding: 40px 21px;
   text-align: center;
   margin-top: 10px;

}

.infocontato {
  text-align: center;
  padding: 60px 20px;
}

.infocontato h1 {
  font-size: 36px;
  color: #B185DB;
  margin-bottom: 10px;
}

.infocontato p {
  font-size: 18px;
  color: #A4C172;
  margin-bottom: 40px;
}

.contato-opcoes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.opcao {
  width: 180px;
  background-color: #fef9ef;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgb(181, 181, 181);
  transition: transform 0.3s ease;
}

.opcao:hover {
  transform: translateY(-5px);
}


.opcao span {
  display: block;
  font-weight: bold;
  color: #878686;
  margin-bottom: 5px;
}

.opcao a {
  color: #C19EE0;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
}

.opcao a:hover {
  text-decoration: underline;
}

.rodape{
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#b391c89f ;
    margin-top: 20%;
    text-align: center;
    
}

.acessar{
    text-align: center;
    color: #e7abff;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 9px;
    margin: -30px;
    font-size: 57%;
}